.App {
  text-align: center;
}

.map-view {
  width: 100vw;
  height: calc(100vh - 80px);
  margin-top: 80px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
